@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --color-primary: #141c34;
  --color-primary-alt: #50f2db;
  --color-secondary: #f53582;
  --color-background: #fffb7d;
  --color-text: #14161f;
  --color-light: #fff;
  --color-anchor: #141c34;
  --font-family: "Orbitron", sans-serif;
  --paragraph-font-family: "Space Mono", monospace;
  --font-weight-strong: 500;
  --font-size-h1: 6rem;
  --font-size-h2: 3rem;
  --font-size-h3: 2rem;
  --font-size-h4: 1.35rem;
  --font-size-text: 1.15rem;
  --font-size-small-text: 5px;
  --border-radius: 8px;
}

/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
h1,
h2,
h3,
h4 {
  font-family: var(--font-family);
  font-weight: var(--font-weight-strong);
  line-height: 1;
  margin-bottom: 0.65em;
}

h1 {
  font-size: var(--font-size-h1);
  font-size: clamp(2rem, 7vw, var(--font-size-h1));
}

h2 {
  font-size: var(--font-size-h2);
  font-size: clamp(2rem, 4vw, var(--font-size-h2));
  text-align: center;
}

#main h2 {
  background-color: var(--color-secondary);
  color: var(--color-background);
  padding: 0.25em 0.5em;
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

p,
li {
  font-size: var(--font-size-text);
}

p {
  margin: 0 0 1rem;
}

article .container > ul:not(.features) > li + li,
article .container > ol > li + li {
  margin-top: 1rem;
}
article .container * + h2 {
  margin-top: 4rem;
}
article .container * + h3 {
  margin-top: 2rem;
}

strong {
  font-weight: var(--font-weight-strong);
}

a {
  color: var(--color-anchor);
}

blockquote {
  position: relative;
  display: grid;
  grid-template-areas: "blockquote";
  place-items: center;
  padding: 0;
  margin: 3rem 0;
  color: var(--color-primary);
}
blockquote > * {
  grid-area: blockquote;
}
blockquote p {
  position: relative;
  font-size: var(--font-size-h4);
  margin-bottom: 0;
  padding: 0.5em;
}
blockquote p strong {
  font-size: 1.15em;
}
blockquote::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 4px solid var(--color-primary);
  box-shadow: 0.25em 0.25em var(--color-secondary);
  transform: scale(1.1);
  content: "";
}
blockquote::after {
  grid-area: blockquote;
  color: #6f6ffd;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 199.1 111.3'%3E%3Cpath fill='%2350f2db' d='M118 77a77 77 0 00-2-18c-2-4-3-9-3-13a29 29 0 011-12 19 19 0 017-9c4-3 8-4 13-3a14 14 0 018 7 31 31 0 012 5 75 75 0 005 10 47 47 0 002 5 17 17 0 003 3c4 4 8 4 13 0a15 15 0 005-8 37 37 0 001-7l1-11a18 18 0 014-11 2 2 0 000-3l-3-3-2-3a2 2 0 011-2 11 11 0 012-1l19-3c4 0 5 1 3 5l-7 16c-1 3-2 3-5 1l-4-5a1 1 0 00-1 0 9 9 0 00-3 5 23 23 0 00-1 6l-1 11a26 26 0 01-1 7 18 18 0 01-8 10c-5 3-9 3-13 0a20 20 0 01-6-6 68 68 0 01-6-13l-2-4a18 18 0 00-2-4 10 10 0 00-14-2 15 15 0 00-4 4 19 19 0 00-3 9 32 32 0 000 11l2 6a78 78 0 012 27 32 32 0 01-4 15 24 24 0 01-11 9 33 33 0 01-19 3 16 16 0 01-13-9 29 29 0 01-3-11 70 70 0 012-18l2-14a33 33 0 000-14c-1-4-4-7-8-7-7-1-14 1-19 6a34 34 0 00-6 9 59 59 0 00-4 10l-3 12-2 6a26 26 0 01-5 8 17 17 0 01-16 6 26 26 0 01-10-4 7 7 0 01-2-1 2 2 0 010-2 2 2 0 012 0l3 1a22 22 0 0010 3 13 13 0 009-4 22 22 0 005-6 41 41 0 003-8l3-12a59 59 0 015-13 31 31 0 017-9c6-5 14-7 22-5a12 12 0 019 7 21 21 0 011 7 57 57 0 01-2 17 132 132 0 00-2 16 37 37 0 000 13 27 27 0 002 5 13 13 0 0011 8 30 30 0 0016-3 22 22 0 0010-10c3-4 3-9 4-13v-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  place-self: end;
  content: "Ooh, scale()!";
  background-size: 90%;
  width: 10ch;
  padding-top: 3.25em;
  transform: translate(25%, 50%) rotate(-5deg);
  transform-origin: bottom right;
}
@media (max-width: 60rem) {
  blockquote::after {
    transform: translate(25%, 55%) rotate(-5deg);
  }
}

#guidelines p:nth-of-type(1),
#contribute p:nth-of-type(1) {
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-strong);
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--paragraph-font-family);
  display: flex;
  flex-flow: column;
}

nav {
  order: -1;
  display: flex;
}

main {
  margin: 10px;
}
main:focus {
  outline: none;
}
main h3 {
  color: var(--color-primary);
}

.container {
  display: flex;
  flex-direction: column;
}
.container h2 {
  text-align: left;
}

header {
  --logomark-height: 3em;
  --logomark-padding: 0 1em;
  display: grid;
  min-height: 40vh;
  place-items: center;
  padding: 10vh 2rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%233a00ff' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23d42257' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: repeat-x;
  background-position: 0 -38px, 17px -40px;
  color: var(--color-primary);
  text-align: center;
}
header h1 {
  display: inline-grid;
  min-height: var(--logomark-height);
  padding: var(--logomark-padding);
  border: 0.16em solid var(--color-primary);
  box-shadow: 0.12em 0.12em var(--color-secondary);
  place-content: center;
}
header h2 {
  max-width: 30ch;
}

nav {
  width: 100%;
  height: 80px;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--color-secondary);
  width: 100%;
  justify-content: space-evenly;
}
nav ul a {
  padding: 8px;
  color: var(--color-secondary);
  font-size: 1.25rem;
  text-decoration: none;
  color: var(--color-primary);
}
nav ul a::before {
  width: 100%;
  height: 0.33em;
  background-color: var(--color-secondary);
  opacity: 0.15;
  content: "";
}
nav ul a:hover::before, nav ul a:focus::before {
  opacity: 1;
}
nav ul li {
  display: flex;
  align-items: center;
  margin: 0.25rem;
  background-color: var(--color-primary-alt);
  margin: 18px 0;
  border: 2px solid var(--color-primary);
}

@media (max-width: 425px) {
  nav {
    height: auto;
  }
  nav ul li {
    margin: 5px 0;
    border: 1px solid var(--color-primary);
  }
  nav ul li a {
    font-size: 11.2px;
    margin: 8px 4px;
    padding: 0;
    display: block;
    font-weight: bold;
    color: var(--color-primary);
  }
}
#about section:nth-child(2) {
  position: relative;
}
#about section:nth-child(2) p:nth-of-type(2) {
  align-self: center;
  margin-top: 2rem;
  color: var(--color-secondary);
  font-size: 1.5em;
  font-weight: var(--font-weight-strong);
  text-align: center;
}
#about section:nth-child(2) ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0 2rem;
  padding: 0;
  list-style: none;
}
#about section:nth-child(2) ul li {
  margin: 0.25em;
  padding: 0.25em 0.5em;
  background-color: var(--color-light);
}
#about section:nth-child(2)::before {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  transform: translate(-50%, -50%);
  transition: 300ms transform ease-in;
  background-image: radial-gradient(rgba(255, 0, 0, 0) 20%, #b3f8f1 20%, #b3f8f1 25%, rgba(255, 0, 0, 0) 25%, rgba(255, 0, 0, 0) 30%, #b3f8f1 30%, #b3f8f1 40%, rgba(255, 0, 0, 0) 40%, rgba(255, 0, 0, 0) 45%, #b3f8f1 45%, #b3f8f1 50%, rgba(255, 0, 0, 0) 50%);
  opacity: 0.8;
  content: "";
  z-index: -1;
}
@media (max-width: 35rem) {
  #about section:nth-child(2)::before {
    transform: scale(2) translate(-25%, -25%);
  }
}

#guidelines {
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 25px;
  padding-bottom: 50px;
  border: 2px solid var(--color-primary);
}
#guidelines h3 {
  width: auto;
  margin-left: 50px;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}
#guidelines h3:hover {
  text-shadow: 5px 5px var(--color-secondary);
}
#guidelines h3 ~ p {
  margin: auto;
  max-width: 70%;
}
#guidelines .container > a {
  max-width: 200px;
  align-self: self-end;
  margin-right: 100px;
}

#contribute {
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 25px;
  padding-bottom: 50px;
  border: 2px solid var(--color-primary);
}
#contribute .container p {
  padding: 0 30px;
}
#contribute h3 {
  padding: 20px 30px;
}
#contribute .container ol {
  max-width: 96%;
  margin: auto;
}

#files {
  display: grid;
  place-content: center;
  margin: 5vh auto;
  text-align: center;
}
#files h3 {
  height: 0;
  opacity: 0;
}
#files .container {
  display: inline-block;
  padding: 5vmin;
  outline: 4px dashed var(--color-secondary);
  background-color: var(--color-background);
  text-align: center;
}
#files .container a:not(:last-child) {
  margin: 0.5rem;
}
#files .container a:not(:last-child):not(.link-codepen) {
  font-size: clamp(1.5rem, 4vw, 2rem);
}

.profile {
  position: relative;
  top: 150px;
  max-width: 500px;
  margin: 25px 10px;
  padding: 25px 20px 50px 20px;
  border: 2px solid var(--color-primary);
  left: 100px;
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='85' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='$23141c34' fill-opacity='0.1'%3E%3Ccircle cx='10' cy='10' r='4'/%3E%3Crect x='40' y='5' width='8' height='8' transform='rotate(45 44 9)'/%3E%3Ccircle cx='65' cy='20' r='3'/%3E%3Crect x='15' y='45' width='6' height='12' transform='rotate(30 18 51)'/%3E%3Ccircle cx='50' cy='55' r='5'/%3E%3Crect x='60' y='60' width='10' height='3'/%3E%3C/g%3E%3C/svg%3E");
  background-color: var(--color-primary-alt);
}
.profile h4 {
  font-weight: bold;
}
.profile .container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.profile .container ul li span:first-of-type {
  font-weight: bold;
}

.page-footer {
  background-color: var(--color-primary);
  color: var(--color-light);
}
.page-footer p {
  border: 2px solid white;
  margin: 40px;
  padding: 40px;
}
.page-footer p:first-child {
  margin: 20px;
  border-bottom: none;
}
.page-footer p:first-child {
  position: relative;
  top: 100px;
  font-weight: var(--font-weight-strong);
  letter-spacing: 0.03em;
  text-align: center;
}
.page-footer p:nth-of-type(2) {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.page-footer p:nth-of-type(3) {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}
.page-footer p:nth-of-type(3)::after {
  position: relative;
  top: 80px;
  left: 60px;
  border: 2px solid white;
  content: "View Sponsor Options";
  margin: 20px;
  padding: 20px;
}
.page-footer .container::after {
  display: block;
  background-color: var(--color-primary);
  content: "Support Style Stage as a monthly or weekly sponsor and quality for a branded Style Stage page with links on every page.";
  border: 2px solid white;
  margin: 20px;
  margin-top: 0;
  padding: 40px;
}
.page-footer p a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
  margin: 0;
}
.page-footer li {
  border: 2px solid white;
  padding: 40px;
}
.page-footer li:nth-of-type(1),
.page-footer li:nth-of-type(2),
.page-footer li:nth-of-type(3) {
  border-right: none;
  padding-right: 10px;
}
.page-footer li:nth-of-type(2),
.page-footer li:nth-of-type(3),
.page-footer li:nth-of-type(4) {
  border-left: none;
  padding-left: 10px;
}
.page-footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  border: 2px solid white;
  border-top: none;
  padding: 40px;
  margin: 0 20px 0 20px;
}

.skip-link {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  background-color: var(--color-secondary);
  color: #fff;
  font-size: 1.125rem;
  overflow: hidden;
}
.skip-link:focus {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  padding: 0.5em;
}

[class^=link]:not(.link-codepen) {
  min-height: 3em;
  background-color: var(--color-primary);
  color: #fff;
  box-shadow: 0.18em 0.18em var(--color-secondary);
}

[class^=link]:not(.link-codepen),
.profile .container > a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.75em;
  transform: translate(0, 0);
  transition: 180ms all ease-in-out;
  font-size: 1.125rem;
  line-height: 1;
  text-align: center;
  text-decoration: none;
}
[class^=link]:not(.link-codepen):hover, [class^=link]:not(.link-codepen):focus,
.profile .container > a:hover,
.profile .container > a:focus {
  transform: translate(-0.15em, -0.15em);
  box-shadow: 0.3em 0.3em var(--color-secondary);
}
[class^=link]:not(.link-codepen):focus,
.profile .container > a:focus {
  outline-color: transparent;
  outline-style: solid;
}

.page-footer [class^=link] {
  width: 100%;
  min-height: 2.5em;
  background-color: var(--color-background);
  color: var(--color-primary);
}

.link-codepen {
  display: block;
  margin-top: 3rem;
  font-size: var(--font-size-h4);
}
.link-codepen::before {
  position: absolute;
  padding-right: 1.25em;
  transform: translate(15%, -90%) rotate(-3deg);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 79.6 187.1'%3E%3Cpath fill='%2350f2db' d='M12 131l-2 13-3 26a10 10 0 000 2 1 1 0 001 0 24 24 0 002-3 37 37 0 016-8 73 73 0 007-9l24-33 4-5a70 70 0 006-7l15-20a8 8 0 001-1 1 1 0 000-1 16 16 0 00-2-1l-8-3a69 69 0 01-13-6 7 7 0 00-1-1l-16-6-13-7a57 57 0 00-10-4 17 17 0 01-2-1 2 2 0 01-1-4 18 18 0 012-2 93 93 0 0011-13 95 95 0 018-8l10-11a32 32 0 003-4c3-5 7-9 12-13a12 12 0 011-1 1 1 0 012 0 2 2 0 010 2 27 27 0 01-3 3 104 104 0 00-10 12 115 115 0 01-11 13 102 102 0 00-11 13 78 78 0 01-5 7l-2 2a1 1 0 000 1l19 8 9 4 3 2a77 77 0 0113 5 22 22 0 003 2l17 8a8 8 0 011 1 2 2 0 010 2 22 22 0 01-1 3l-11 14a33 33 0 00-2 3 98 98 0 01-10 13l-5 7-23 31a87 87 0 01-7 9 60 60 0 00-6 8l-2 3a1 1 0 000 1l9-4 12-6 10-6 13-7a10 10 0 012 0 2 2 0 012 1 2 2 0 010 3 24 24 0 01-3 1l-8 4-20 11-24 12a19 19 0 01-2 1 2 2 0 01-3-2 10 10 0 010-2l1-7 3-24 3-21a39 39 0 011-5 2 2 0 013-1 2 2 0 011 2v4z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 130%;
  background-size: 14%;
  color: #6f6ffd;
  font-size: 0.85em;
  content: "Jump right in";
}

.link-allstyles {
  font-size: var(--font-size-h4);
}
@media (max-width: 400px) {
  .link-allstyles {
    margin-left: 6rem;
  }
}

.link-github svg {
  width: 1em;
  height: 1em;
  margin-right: 0.25em;
  fill: currentColor;
}

#styles {
  position: relative;
  top: -270px;
  margin: 25px 10px;
  padding: 25px 20px 50px 20px;
  border: 2px solid var(--color-primary);
}

#guidelines .link-guidelines {
  position: relative;
  z-index: 0;
  border-radius: 10px;
  overflow: hidden;
  padding: 2rem;
}
#guidelines .link-guidelines::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 400px;
  height: 500px;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(var(--color-secondary), var(--color-secondary)), linear-gradient(var(--color-secondary), var(--color-secondary)), linear-gradient(var(--color-primary-alt), var(--color-primary-alt)), linear-gradient(var(--color-primary-alt), var(--color-primary-alt));
  animation: rotate 4s linear infinite;
}
#guidelines .link-guidelines::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: var(--color-primary);
  border-radius: 5px;
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
#styles .container .features {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 600px;
  margin: -40px auto auto 700px;
}
#styles .container .features li {
  position: relative;
  top: 5px;
  margin: 20px;
  padding: 24px 32px;
  background: #f53582;
  color: #141c34;
  border: 3px solid #141c34;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
  position: relative;
  z-index: 1;
}
#styles .container .features li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23141c34' fill-opacity='0.15'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: 0;
  pointer-events: none;
}
#styles .container .features li:hover {
  color: #141c34;
  transform: translate(3px, 3px);
  background: linear-gradient(135deg, #50f2db, #fffb7d);
}
#styles .container .features li:hover::before {
  opacity: 1;
  animation: wiggle-pattern 3s linear infinite;
}
#styles .container .link-allstyles {
  position: relative;
  bottom: -75px;
  margin: auto;
  border-radius: 10px;
  z-index: 0;
  overflow: hidden;
}
#styles .container .link-allstyles::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 400px;
  height: 500px;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(var(--color-secondary), var(--color-secondary)), linear-gradient(var(--color-secondary), var(--color-secondary)), linear-gradient(var(--color-primary-alt), var(--color-primary-alt)), linear-gradient(var(--color-primary-alt), var(--color-primary-alt));
  animation: rotate 4s linear infinite;
}
#styles .container .link-allstyles::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: var(--color-primary);
  border-radius: 5px;
}

@keyframes wiggle-pattern {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
