#styles {
  .container {
    .features {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 600px;
      margin: -40px auto auto 700px;

      li {
        position: relative;
        top: 5px;
        margin: 20px;
        padding: 24px 32px;
        background: $color-secondary;
        color: $color-primary;
        border: 3px solid $color-primary;
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 1px;
        cursor: pointer;
        overflow: hidden;
        transition: all 0.3s ease;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23141c34' fill-opacity='0.15'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
          opacity: 0;
          transition: opacity 0.4s ease;
          z-index: 0;
          pointer-events: none;
        }

        position: relative;
        z-index: 1;

        &:hover {
          color: $color-primary;
          transform: translate(3px, 3px);
          background: linear-gradient(
            135deg,
            $color-primary-alt,
            $color-background
          );

          &::before {
            opacity: 1;
            animation: wiggle-pattern 3s linear infinite;
          }
        }
      }
    }

    .link-allstyles {
      position: relative;
      bottom: -75px;
      margin: auto;
      border-radius: 10px;
      z-index: 0;
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        z-index: -1;
        width: 400px;
        height: 500px;
        background-repeat: no-repeat;
        background-size: 50% 50%, 50% 50%;
        background-position: 0 0, 100% 0, 100% 100%, 0 100%;
        background-image: linear-gradient(
            var(--color-secondary),
            var(--color-secondary)
          ),
          linear-gradient(var(--color-secondary), var(--color-secondary)),
          linear-gradient(var(--color-primary-alt), var(--color-primary-alt)),
          linear-gradient(var(--color-primary-alt), var(--color-primary-alt));
        animation: rotate 4s linear infinite;
      }

      &::after {
        content: "";
        position: absolute;
        z-index: -1;
        left: 6px;
        top: 6px;
        width: calc(100% - 12px);
        height: calc(100% - 12px);
        background: var(--color-primary);
        border-radius: 5px;
      }
    }
  }
}

@keyframes wiggle-pattern {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
