#about {
  section {
    &.container {
      border: 2px solid var(--color-primary);
      padding: 1.5rem 0;

      &:nth-child(1) {
        blockquote {
          width: 50%;
          max-width: 800px;
          min-width: 400px;
          margin: 2em 4em 6em auto;

          @media (max-width: 400px) {
            font-size: 12px;
            width: 80%;
            min-width: unset;
            margin: 2em auto 6em auto;
          }
        }

        > p {
          padding: 0 8em;

          @media (max-width: 400px) {
            padding: 0 1rem;
          }
        }
      }

      p {
        padding: 0 3rem;

        @media (max-width: 400px) {
          padding: 0 1rem;
        }
      }
    }

    &:nth-child(2) {
      position: relative;
      margin-top: 3rem;

      p:nth-of-type(2) {
        align-self: end;
        font-size: 1.5em;
        font-weight: var(--font-weight-strong);
        transition: all ease-in-out 0.2s;
        cursor: pointer;

        &:hover {
          text-shadow: 2px 2px var(--color-secondary);
        }
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        margin: 1rem 0 2rem;
        padding: 0;
        padding-right: 3em;
        list-style: none;

        li {
          margin: 0.25em;
          padding: 0.5em 1em;
          background-color: var(--color-light);
          transition: all ease-in-out 0.2s;

          overflow: hidden;
          position: relative;
          z-index: 1;

          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23fff' fill-opacity='0.15'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            opacity: 0;
            transition: opacity 0.4s ease;
            z-index: 0;
            pointer-events: none;
          }

          &:hover {
            transform: scale(1.05);
            background-color: var(--color-primary);
            color: var(--color-background);
            cursor: pointer;
            background: $color-primary;

            &::before {
              opacity: 1;
              animation: wiggle-pattern 3s linear infinite;
            }
          }
        }
      }

      & > p:last-of-type {
        a {
          font-weight: bold;
          transition: all ease-in-out 0.2s;

          &:hover {
            text-decoration: none;
            color: var(--color-secondary);
          }
        }
      }

      &::before {
        position: absolute;
        top: 60%;
        left: 50%;
        width: 100%;
        height: 0;
        padding-bottom: 90%;
        transform: translate(-50%, -50%);
        transition: 300ms transform ease-in;
        background-image: radial-gradient(
          rgba(255, 0, 0, 0) 20%,
          #b3f8f1 20%,
          #b3f8f1 25%,
          rgba(255, 0, 0, 0) 25%,
          rgba(255, 0, 0, 0) 30%,
          #b3f8f1 30%,
          #b3f8f1 40%,
          rgba(255, 0, 0, 0) 40%,
          rgba(255, 0, 0, 0) 45%,
          #b3f8f1 45%,
          #b3f8f1 50%,
          rgba(255, 0, 0, 0) 50%
        );

        opacity: 0.8;
        content: '';
        z-index: -1;

        @media (max-width: 35rem) {
          transform: scale(2) translate(-25%, -25%);
        }
      }
    }
  }
}
