.page-footer {
  background-color: var(--color-primary);
  color: var(--color-light);

  p {
    border: 2px solid white;
    margin: 40px;
    padding: 40px;
  }

  p:first-child {
    margin: 20px;
    border-bottom: none;
  }

  p:first-child {
    position: relative;
    top: 100px;
    font-weight: var(--font-weight-strong);
    letter-spacing: 0.03em;
    text-align: center;
  }

  p:nth-of-type(2) {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  p:nth-of-type(3) {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
  }

  p:nth-of-type(3)::after {
    position: relative;
    top: 80px;
    left: 60px;
    border: 2px solid white;
    content: "View Sponsor Options";
    margin: 20px;
    padding: 20px;
  }

  .container::after {
    display: block;
    background-color: var(--color-primary);
    content: "Support Style Stage as a monthly or weekly sponsor and quality for a branded Style Stage page with links on every page.";
    border: 2px solid white;
    margin: 20px;
    margin-top: 0;
    padding: 40px;
  }

  p a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
    margin: 0;
  }

  li {
    border: 2px solid white;
    padding: 40px;
  }

  li:nth-of-type(1),
  li:nth-of-type(2),
  li:nth-of-type(3) {
    border-right: none;
    padding-right: 10px;
  }

  li:nth-of-type(2),
  li:nth-of-type(3),
  li:nth-of-type(4) {
    border-left: none;
    padding-left: 10px;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    border: 2px solid white;
    border-top: none;
    padding: 40px;
    margin: 0 20px 0 20px;
  }
}
