.page-footer {
  background-color: var(--color-primary);
  color: var(--color-light);

  p {
    border: 2px solid white;
    margin-top: 20px;
    padding: 40px;
  }
  p:first-child {
    border: none;
    font-weight: var(--font-weight-strong);
    letter-spacing: 0.03em;
    text-align: center;
  }
  p:nth-of-type(2) {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  p:nth-of-type(3) {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  p:nth-of-type(3)::after {
    width: 200px;
    display: block;
    position: relative;
    top: 45px;
    border: 4px solid white;
    background-color: #fffb7d;
    color: black;
    content: "View Sponsor Options";
    padding: 20px;
    text-align: center;
    margin-left: auto;
  }
  .container::after {
    display: block;
    background-color: var(--color-primary);
    content: "Support Style Stage as a monthly or weekly sponsor and quality for a branded Style Stage page with links on every page.";
    border: 2px solid white;
    margin-bottom: 20px;
    margin-top: 0;
    padding: 40px;
    font-size: 1.1rem;
  }
  p a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
    margin: 0;
  }
  ul {
    list-style-type: none;
  }
  li {
    border: 4px solid white;
    padding: 40px;
    margin-right: 40px;
  }
  li:nth-of-type(1),
  li:nth-of-type(2),
  li:nth-of-type(3) {
    border-bottom: none;
    padding-bottom: 0;
  }
  li:nth-of-type(2),
  li:nth-of-type(3),
  li:nth-of-type(4) {
    border-top: none;
  }
  @media (min-width: 32.5rem) {
    p:first-child {
      border: 2px solid white;
      margin: 20px;
      border-bottom: none;
      margin-bottom: -61px;
    }
    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      border: 2px solid white;
      border-top: none;
      padding: 40px;
      margin: 0 20px 0 20px;
    }
    li {
      border: 2px solid white;
      margin-right: 0;
    }
    li:nth-of-type(1),
    li:nth-of-type(2),
    li:nth-of-type(3) {
      border-bottom: 2px solid white;
      border-right: none;
      padding-right: 10px;
    }
    li:nth-of-type(2),
    li:nth-of-type(3),
    li:nth-of-type(4) {
      border-top: 2px solid white;
      border-left: none;
      padding-left: 10px;
    }
  }
  @media (min-width: 64rem) {
    p:nth-of-type(3)::after {
      width: 400px;
    }
  }
}