#guidelines {
  h3 {
    width: auto;
    margin-left: 50px;
    transition: all ease-in-out 0.2s;
    cursor: pointer;

    &:hover {
      text-shadow: 5px 5px var(--color-secondary);
    }
  }

  h3 ~ p {
    margin: auto;
    max-width: 70%;
  }
  .container > a {
    max-width: 200px;
    align-self: self-end;
    margin-right: 100px;
  }
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 25px;
  padding-bottom: 50px;
  border: 2px solid var(--color-primary);
}
