header {
  --logomark-height: 3em;
  --logomark-padding: 0 1em;

  display: grid;
  min-height: 40vh;
  place-items: center;
  padding: 0 5px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%233a00ff' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"),
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23d42257' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: repeat-x;
  background-position: 0 -38px, 17px -40px;
  color: var(--color-primary);
  text-align: center;

  .container {
    width: 100%;
    align-self: flex-start;
    margin-top: 15px;

    h1 {
      @include logomark;
      display: block;
      box-shadow: none;
      width: 100%;
      border: 2px solid var(--color-primary);
      text-align: left;
      padding: 0 0 0 10%;
      height: 220px;
    }

    h2 {
      width: 63vw;
      margin-left: 20px;
      border: 2px solid var(--color-primary);
      padding: 70px 0 100px 40px;
      font-size: 20px;
    }

    p {
      border: 2px solid var(--color-primary);
      width: 250px;
      padding: 0 15px 0 15px;
      font-size: 16px;
      position: relative;
      top: -110px;
      left: 35vw;
      background-color: var(--color-background);
    }

    .link-github {
      width: 150px;
      border: 3px solid var(--color-primary);
      background-color: var(--color-background);
      color: var(--color-primary);
      position: absolute;
      top: 55px;
      left: 44%;
      span {
        position: absolute;
        top: 100px;
        left: 32vw;
        transform: translateX(10%);
        color: var(--color-primary);

        svg {
          font-size: 80px;

        }
      }
    }
  }
}

#contribute #files .container {
    outline: none;
    display: flex;
    background-color: transparent;
    padding: 0;
    position: absolute;
    top: 274px;
    left: 68%;
    width: 30vw;

    a.link-downloadcss {
      height: 98px;
      font-size: 20px;
    }

    a.link-downloadhtml {
      height: 98px;
      font-size: 20px;
    }
    

    .link-codepen::before {
      background-image: none;
      transform: translate(13%, -90%);
      place-content: center;
      padding: 0;
      color: var(--color-primary);
      font-size: clamp(5px, 15px, 2rem);
    }

    .link-codepen {
      margin: 0;
      padding: 27px 0 10px 0;
      background-color: var(--color-primary-alt);
      border-radius: 50px;
      border: 3px solid var(--color-secondary);
      text-decoration: none;
      font-size: clamp(5px, 15px, 2rem);
      width: 190px;
      align-self: center;
      position: relative;
      top: -145px;
    }
  }

@media (max-width: 768px) {
  header {
    .container {
      .link-github {
        left: 41%;
      }
    }
  }
}

@media (max-width: 425px) {

  header {
    padding: 0;
    width: 100%;

    .container {
      width: 100%;
      height: 450px;
      margin: 0 0 130px;
      justify-content: center;

      h1 {
        display: inline-grid;
        padding-right: 9vw;
        box-shadow: none;
        margin-top: 20px;
        width: 100%;
        height: 150px;
        border: 1px solid var(--color-primary);
        font-size: 1.5rem;
      }

      h2 {
        font-size: .8rem;
        padding-right: 9vw;
        text-align: center;
        border: 1px solid var(--color-primary);
        width: 100%;
        height: 146px;
        margin: 0;
      }

      p {
        border: 2px solid var(--color-primary);
        font-size: 10px;
        width: 150px;
        padding: 0 12px;
        position: relative;
        top: -25px;
        left: 29vw;
        background-color: var(--color-background);
      }

      .link-github {
        box-shadow: none;
        width: 90px;
        height: 40px;
        font-size: 11px;
        padding: 0;
        position: relative;
        top: -265px;
        left: 36vw;
        color: var(--color-primary);
        background-color: var(--color-background);
        border: 2px solid var(--color-primary);

        span {
          display: none;
        } 
      }
    }
  }


  #contribute footer#files .container {
    position: absolute;
    top: 430px;
    left: 50%;
    transform: translateX(-50%);
    outline: none;
    display: flex;
    background-color: transparent;
    padding: 0;
    height: 350px;
    width: 240px;
    
    a.link-downloadcss {
      box-shadow: none;
      height: 70px;
      font-size: 15px;
    }

    a.link-downloadhtml {
      box-shadow: none;
      height: 70px;
      font-size: 15px;
    }

    .link-codepen::before {
      background-image: none;
      transform: translate(13%, -90%);
      place-content: center;
      padding: 0;
      color: black;
      font-size: clamp(5px, 10px, 2rem);
    }

    .link-codepen {
      margin: 0;
      padding: 27px 0 10px 0;
      background-color: var(--color-primary-alt);
      border-radius: 50px;
      border: 3px solid var(--color-secondary);
      text-decoration: none;
      font-size: clamp(5px, 10px, 2rem);
      width: 155px;
      position: relative;
      top: -115px;
    }
  }
}